<div style="height: 100%">
  <button (click)="changeValue()">
    Click me!
  </button>
  <summa-floorplan style="height: 100%"
    floors = "{{floors}}"
    devices = "{{devices}}"
    groups = "{{groups}}"

    (addGroup)="addGroup($event)"
    (updateGroup)="updateGroup($event)"
    (deleteGroup)="deleteGroup($event)"
    (addDevice)="addDevice($event)"
    (updateDevice)="updateDevice($event)"
    (deleteDevice)="deleteDevice($event)"
  ></summa-floorplan>

  <div id="floors" style="display: none;">{{floors}}</div>
  <div id="devices" style="display: none;">{{devices}}</div>
  <div id="groups" style="display: none;">{{groups}}</div>
</div>

